.menu {
    background-color: #0000ff;
    margin: 0px;
    padding: 0px;
}

.menu a {
    color: #ffffff;
    display: block;
    padding: 10px;
}

.menu a:hover {
    background-color: #ffffff;
    color: #0000ff;
}

.menu li {
    list-style: none;
    display: inline-block;
}

.submenu {
    min-width: 136px;
    position: absolute;
    display: none;
}

.menu li:hover .submenu {
    display: block;
}

.submenu .menu li {
    display: block;
}
